
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --themeColour :  #b43616;
}

.themeClrText {
    color:  var(--themeColour);
}

.themeClrBg {
  background-color:  var(--themeColour);
}

*{
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

.card-inner-a{
    text-decoration: none;
    color: inherit;
}
.cart-products-main{
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 77vh;
}
.cart-products-main::-webkit-scrollbar {
    display: none;
}